{% extends 'base.html.twig' %}

{% block title %}Menu phrase{% endblock %}

{% block body %}
    <div class="wrapper">
        <h4>Liste des phrases</h4>
    
        <a href="{{ path('sentence_new') }}">Ajouter</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Content</th>
                    <th>Author</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for sentence in sentences %}
                <tr>
                    <td>{{ sentence.id }}</td>
                    <td>{{ sentence.content }}</td>
                    <td>{{ sentence.Author }}</td>
                    <td>
                        <a href="{{ path('sentence_show', {'id': sentence.id}) }}">show</a>
                        <a href="{{ path('sentence_edit', {'id': sentence.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>  
{% endblock %}
