{# templates/concept/edit.html.twig #}

{# templates/concept/add.html.twig #}

{% extends('base.html.twig') %}

{% block body %}

    <div class="wrapper">
        <h4>Edition d'une notion</h4>

        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{form_row(form.theme)}}
            {{form_row(form.isDraft)}}
            {{ form_row(form.description) }}
            {{ form_row(form.content) }}
  
            {{ form_row(form.submit, {"label": "Mettre à jour"}) }}
        {{ form_end(form) }}
    </div>

{% endblock %}