{% extends 'base.html.twig' %}

{% block title %}Notions{% endblock %}

{% block body %}
    <div class="container my-3">
        {% for concept in concepts %}
            <div class="col-md-3">
                <a href="{{ path('concept_edit', {"id": concept.id }) }}" style="text-decoration: none; color: black;">
                    <div class="card shadow rounded">
                        <div class="header d-flex justify-content-center align-items-center" style="background-color: {{ concept.theme.color }}; color: {{ concept.theme.textColor }}; min-height: 100px;">
                            <div><h4>{{ concept.theme.title }}</h4></div>
                        </div>
                        <div class="card-body">
                            {% if concept.isDraft == true %}
                                <span class="badge badge-danger shadow" style="position: absolute; top: 36%; left: 10%">Brouillon</span>
                            {% endif %}
                            {% if concept.updatedAt|date('d/m/Y') < "now"|date('d/m/Y')|date_modify("+ 5 day")  %}
                            <span class="badge badge-success shadow" style="position: absolute; top: 36%; right: 10%">Nouveau</span>
                            {% endif %}
                            <h6 class="card-title"><strong>{{ concept.title }}</strong></h5>
                            <p class="card-text">{{ concept.description }}</p>
                        </div>
                        <div class="footer border-top border-1 p-3 d-flex justify-content-between" style="color: #A9A9A9; font-size: 0.6em;"><div>Créé le {{ concept.createdAt|date('d/m/Y') }}</div><div>Mis à jour le {{ concept.updatedAt|date('d/m/Y') }}</div></div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
