{% extends 'base.html.twig' %}

{% block title %}Notions{% endblock %}

{% block body %}
    
    <div class="wrapper">
        <div class="col-md-8"><h4>Notions</h4></div>
        <a class="btn btn-sm btn-success" href="{{ path('concept_add') }}">Ajouter</a>
    </div>
    
    <div class="wrapper">
        <table class="table">
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Créé le</th>
                <th>Mis à jour le</th>
                <th>Thème</th>
                <th>Brouillon</th>
                <th>Actions</th>
            </tr>
            {% for concept in concepts %}
                <div class="col-md-3">
                    <tr>
                        <td>{{ concept.title }}</td>
                        <td>{{ concept.description }}</td>
                        <td>{{ concept.createdAt|date('d/m/Y') }}</td>
                        <td>{{ concept.updatedAt|date('d/m/Y') }}</td>
                        <td class="text-center"><span class="badge" style="background-color: {{ concept.theme.color }}; color: {{ concept.theme.textColor }}">{{ concept.theme.title }}</span></td>
                        <td class="text-center">{{ concept.isDraft == true ? '<span class="badge" style="background-color: red; color: white;">Brouillon</span>'
                            : '<span class="badge" style="background-color: green; color: white;">Publié</span>'  }}</td>
                        <td class="d-flex justify-content-center align-items-center">
                            <div class="ml-3"><a href="{{ path('concept_edit', {"id": concept.id }) }}"><i class="far fa-edit"></i></a></div>
                            {% include('concept/_delete_form.html.twig') %}
                        </td>
                    </tr>
                </div>
            {% endfor %}
        </table>
    </div>   
{% endblock %}
