<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <!--<meta name="viewport" content="width=device-width, initial-scalable=1.0">-->
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Ingrédient Technique{% endblock %}</title>
        {% block stylesheets %}
           {% include('stylesheets.html.twig') %}
        {% endblock %}
    </head>
    <body>
    <!-- NAVBAR -->
    {% block navbar %}
        {% include('navbar.html.twig') %}
    {% endblock %}

    {% if not is_granted('ROLE_ADMIN') %}
        <header>
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <h4>Objectif</h4>
                            <p>
                                Ce site a pour objectif de partager mon expérience dans le domaine du développement Web.<br>
                                Et de créer un site permettant de réviser et de s' auto-évaluer.
                            </p>
                        </div>
                        <div class="col-md-3 border border-1">
                            <h5 class="w-100 text-center">Phrase du jour</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur dolorem dolorum
                                esse est in labore maiores molestiae nesciunt nostrum pariatur quis quod ratione
                                repellat tempora vel vitae, voluptate voluptatem!</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>    
    {% endif %}

    <!-- BODY -->
    
    {% if not is_granted('ROLE_ADMIN') %}
        <div style="min-height: 40px; margin-top: 30px;">
            {% include('flash-message.html.twig') %}
        </div>
    {% endif %}    
    {% block body %}{% endblock %}

    
 
    <!-- FOOTER -->
    <footer class="p-3" style="margin-top: 50px;">
        <div class="row">
            <div class="col-md-4 text-center">
            </div>
            <div class="col-md-4 text-center">
                <h5>&copy; Ingrédient Technique</h5>
            </div>
            <div class="col-md-4">
                <h6><a href="{{ path('about') }}">À propos</a></h6>
                <h6><a href="{{ path('contact') }}">Contact</a></h6>
                <h6><a href="{{ path('history') }}">Historique du site</a></h6>
                <h6><a href="{{ path('tools') }}">Les outils</a></h6>
                <h6><a href="{{ path('knowledge') }}">Les connaissances nécessaires</a></h6>
            </div>
        </div>
    </footer>
        {% block javascripts %}
            {% include('javascripts.html.twig') %}
        {% endblock %}
    </body>
</html>
