<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <!--<meta name="viewport" content="width=device-width, initial-scalable=1.0">-->
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Ingrédient Technique{% endblock %}</title>
        {% block stylesheets %}
           {% include('stylesheets.html.twig') %}
        {% endblock %}
    </head>
    <body>
    <!-- NAVBAR -->
    {% block navbar %}
        {% include('navbar.html.twig') %}
    {% endblock %}

    <div class="container my-3" style="height:30px;">
        {% include('flash-message.html.twig') %}
    </div>

    <!-- BODY -->
        {% block body %}{% endblock %}
 
    <!-- FOOTER -->
    <footer class="p-3">
        <div class="row">
            <div class="col-md-4 text-center">
            </div>
            <div class="col-md-4 text-center">
                <h5>&copy; Ingrédient Technique</h5>
            </div>
            <div class="col-md-4">
                <h6><a href="{{ path('about') }}">À propos</a></h6>
                <h6><a href="{{ path('contact') }}">Contact</a></h6>
                <h6><a href="{{ path('history') }}">Historique du site</a></h6>
                <h6><a href="{{ path('tools') }}">Les outils</a></h6>
                <h6><a href="{{ path('knowledge') }}">Les connaissances nécessaires</a></h6>
            </div>
        </div>
    </footer>
        {% block javascripts %}
            {% include('javascripts.html.twig') %}
        {% endblock %}
    </body>
</html>
