{# templates/concept.html.twig #}
<div class="card shadow rounded">
    <div class="header d-flex justify-content-center align-items-center" style="background-color: {{ concept.theme.color }}; color: {{ concept.theme.textColor }}; min-height: 100px;">
        <div><h4>{{ concept.theme.title }}</h4></div>
    </div>
    <div class="card-body card-body-concept">
        {% if concept.isDraft == true %}
            <span class="badge badge-danger shadow badge-position-left">Brouillon</span>
        {% endif %}
        {% if concept.createdAt|date_modify("+ 5 day")|date('Y-m-d') > ("now"|date('Y-m-d'))  %}
        {{ dump(concept.createdAt|date_modify("+ 5 day")) }}
        {{ dump("now"|date('Y-m-d H:i:s')) }}
        <span class="badge badge-success shadow badge-position-right">Nouveau</span>
        {% endif %}
        <h6 class="card-title"><strong>{{ concept.title }}</strong></h5>
        <p class="card-text">
            {% set longueur = concept.description|length %}
            {% if longueur > 70 %}
                {{ concept.description|slice(0,71) }}
                ...
            {% else %}
                {{ concept.description }}
            {% endif %}
        </p>
    </div>
    <div class="footer border-top border-1 p-3 d-flex justify-content-between" style="color: A9A9A9; font-size: 0.6em;">
        <div>Créé le {{ concept.createdAt|date('d/m/Y') }}</div>
        <div>Mis à jour le {{ concept.updatedAt|date('d/m/Y') }}</div>
    </div>
</div>
