<nav class="navbar">
       
        <div class="area-brand"><a href="{{ path('default') }}">Ingrédient Technique</a></div>
        <div class="area-login"><a href="{{ path('admin') }}"><button>Admin</button></a></div>
        
    {% if (app.user) and (is_granted('ROLE_ADMIN')) %}
        <a href="#">Administration</a>
        <a href="{{ path('concept') }}">Notions</a>
        <a href="{{ path('theme') }}">Thème</a>
        <a href="#">Exercices</a>
        <a href="{{ path('sentence_index') }}">Phrase aléatoire</a>
        <a href="{{ path('parameters_index') }}">Paramètres</a>
    {% endif %}
</nav>
