{# templates/theme/add.html.twig #}

{% extends('base.html.twig') %}

{% block body %}
    <div class="container" style="min-height: 600px;">
        <h4>Edition d'un thème</h4>
        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.title, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.description, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.color, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.textColor, {"attr": {"class": "form-control"}}) }}
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12">
                {{ form_row(form.submit, {"label": "Mettre à jour", "attr": {"class": "form-control btn btn-sm btn-secondary"}}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
