{% extends 'base.html.twig' %}

{% block title %}Thèmes{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-8">
                <h4>Liste des thèmes</h4>
            </div>
            <div class="col-md-4 d-flex justify-content-end align-items-center">
                <a href="{{ path('theme_add') }}" class="btn btn-sm btn-success">Ajouter</a>
            </div>
        </div>
        
        <table class="table table-bordered"> 
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Couleur</th>
                <th>Actions</th>
            </tr>
            {% for theme in themes %}
                <tr>
                    <td>{{ theme.title }}</td>
                    <td>{{ theme.description }}</td>
                    <td><div class="text-center" style="background-color: {{ theme.color }}; color: {{ theme.textColor }};"> {{ theme.color }} </div></td>
                    <td>
                    <a href="{{ path('theme_edit', {"id": theme.id }) }}"><i class="fas fa-pen-square"></i></a>
                    </td>
                </tr>
            {% endfor %} 
        </table>
    </div>
{% endblock %}
